
@font-face{
  font-family: 'Jula-Medium';
  font-weight: 500;
  font-size: normal;
  src: local('Jula-Medium'),
       url('../fonts/Jula-Medium.woff2') format('woff2'),
       url('../fonts/Jula-Medium.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Jula-Medium';
  font-weight: 500;
  font-size: normal;
  src: local('Jula-Medium'),
       url('../fonts/Jula-Medium.woff2') format('woff2'),
       url('../fonts/Jula-Medium.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Montserrat-Regular';
  font-weight: 400;
  font-size: normal;
  src: local('Montserrat-Regular'),
       url('../fonts/Montserrat-Regular.woff2') format('woff2'),
       url('../fonts/Montserrat-Regular.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Montserrat-Medium';
  font-weight: 500;
  font-size: normal;
  src: local('Montserrat-Medium'),
       url('../fonts/Montserrat-Medium.woff2') format('woff2'),
       url('../fonts/Montserrat-Medium.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Montserrat-Semi Bold';
  font-weight: 600;
  font-size: normal;
  src: local('Montserrat-Semi Bold'),
       url('../fonts/Montserrat-Semi Bold.woff2') format('woff2'),
       url('../fonts/Montserrat-Semi Bold.woff') format('woff');
  font-display: swap;
}